[submodule "edk2"]
	path = edk2
	url = https://github.com/htafr/edk2.git
[submodule "qemu"]
	path = qemu
	url = https://github.com/htafr/qemu.git
[submodule "ovmfvartool"]
	path = ovmfvartool
	url = https://github.com/hlandau/ovmfvartool.git
